#禁止上传的文件
*.class

#package file
*.war
*.ear

#kdiff3
*.orig

#maven
target/

#eclipes ignore
.settings/
.project
.classpath

#idea
.idea/
/idea/idea
*.ipr
*.iml
*.iws

#temp
*.log
*.cache
*.diff
*.patch
*.tmp

#system
.DS_Store
Thumbs_db

#













